* {
    box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   font-family: sans-serif;
}

div#splash-screen{
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(../img/background_looney_tunes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#game-screen {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(../img/warner_bros_water.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#gameover {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(../img/img_gameover_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#win-screen {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(../img/background_looney_tunes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-center{
    max-width: 980px;
    width: 100%;
    height: 500px;
    position: absolute;
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    margin: auto;
}

button#play {
    max-width: 250px;
    border: none;
    border-radius: 100px;
    line-height: 20px;
    padding: 0.7em 1.2em;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    box-shadow: 2px 4px 3px rgba(360,360,360,0.3);

}

button#start {
    max-width: 250px;
    border: none;
    border-radius: 10px;
    line-height: 20px;
    padding: 0.7em 1.2em;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 2px 4px 3px rgba(360, 360, 360, 0.3);
}

h1{
    font-size: 180px;
    padding: 0;
    margin: 0;
    padding: 50px 0;
    font-family: 'looney_tunes';
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color: #fff;
}

.hidden {
    display: none !important;
}

span {
    font-weight: bold;
    font-size: 30px;
}

.flex-screen {
    width: 1100px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-container {
    max-width: 1100px;
    height: 700px;
    margin: 100px auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.time {
    text-align: left;
    display: flex;
    align-items: center;
    box-shadow: 2px 4px 3px rgb(255 255 255 / 30%);
    padding: 10px;
    height: 60px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    width: 180px;
}

.time p {
    padding: 0;
    margin: 0;
}

.cards {
    width: 1100px;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.card {
    width: 180px;
    height: 240px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-look {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-back {background-color: #fff;}

.card-front {
    background-color: #fff;
    display: flex;
}

.card-front img,
.card-back img {
    width: 130px;
    height: auto;
    position: absolute;
}

.solved {
    display: none;
}

#countdown {
    font-size: 44px;
    padding: 0;
    font-weight: bold;
    padding-left: 10px;
    width: 50px;
    text-align: right;
    color: #E2182C;
}

.miyats {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.miyats p {
    color: white;
    font-size: 15px;;
}

#gameover h1 {
    max-width: 500px;
    width: 100%;
    line-height: 170px;
    color: #E2182C;
    text-align: left;
}

#again,
#play-again {
    max-width: 250px;
    border: none;
    border-radius: 100px;
    line-height: 20px;
    padding: 0.7em 1.2em;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    box-shadow: 2px 4px 3px rgba(360,360,360,0.3);
}

button {
    background-color: white;
}

.container-center p {
    color: white;
    width: 500px;
    margin: 0 auto;
    line-height: 34px;
    margin-top: 60px;
    font-size: 24px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}